/**
 * Body CSS
 */
@import url("./normalyze.css");

html,
body {
  height: 100%;
  margin: 0 auto;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
 * Content CSS
 */
button {
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  padding-top: 2.5em;
  margin: 0 auto;
  width: max-content;
}

.months-list {
  display: flex;
}

 p{
  padding: 0;
  margin: 0;
}

.month-box {
  padding: 0.5em;
  border: 1px solid #000;
  cursor: pointer;
}

.month-box.selected {
  background-color: #000;
  color: #fff;
}

.action-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5em;
}

.action-container {
  align-self: center;
}

.note-caption {
  align-self: flex-end;
}

.add-btn, .delete-btn, .add-note {
  color: #fff;
}

.add-btn, .add-note {
  background-color: #000;
}

.delete-btn {
  background-color: #808080;
}

.date, .title, .note {
  padding-bottom: 1em;
}

.popup__overlay {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  text-align: center
}

.form-add-note {
    background: #fff;
    border-radius: 1em;
    box-shadow: 1px 0px 5px rgb(125, 125, 125);
    box-sizing: border-box;
    height: 15em;
    width: 30em;
    padding: 20px;
    margin: 100px auto;
    position: relative;
}

.close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.hidden {
    display: none;
}

.notes-list, .notes-header {
  width: 100%;
}

.notes-header, .note-row {
  display: flex;
}

.note-row.selected {
  color: #808080;
}

.note-caption-data-time, .note-caption-title, .note-caption-note, .note-date-time,  .note-title,  .note-description {
  border: 1px solid #000;
  padding: 0.2em 0 0.2em 0.5em;
}

.note-row {
  cursor: pointer;
}

.note-caption-data-time, .note-date-time {
  flex-basis: 30%;
}

.note-caption-title, .note-title {
  flex-basis: 20%;
  overflow-wrap: anywhere;
}

.note-caption-note, .note-description {
  flex-basis: 50%;
}

.pagination-content {
  display: flex;
  align-items: center;
}

#pagination {
	display: flex;
	padding: 0;
  list-style-type: none;
  font-weight: bold;
}
#pagination li {
	margin-right: 5px;
	padding: 5px;
}
#pagination li:hover, #pagination li.active {
	cursor: pointer;
	color: #fff;
	background-color: #000;
}
.next-steps {
  display: none;
}

.next-steps.show {
  display: flex;
}

.next-step, .end-step {
  cursor: pointer;
}

.end-step {
  padding-left: 0.5em;
}
